@font-face {
  font-family: "Zoho Puvi";
  src:
    url("../fonts/puvi-regular.woff2") format("woff2"),
    url("../fonts/puvi-regular.woff") format("woff");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none; /* Same as user-select, just for older Safari versions */
  user-select: none; /* Doesn't allow text selection, remove or keep as you see fit */
}

:root {
  --color-fg: #fff;
  --color-bg: #111;
  --color-player-background: rgba(17, 17, 17, 0.6);
  --color-player-progress: #eee;
  --font-family: 'Zoho Puvi', Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}

html, body {
  color: var(--color-fg);
  background: var(--color-bg);
  position: fixed;
  overflow: hidden;
  font-family: var(--font-family)
}

img {
  pointer-events: none; /* Removes options related to images on right-click. once again, remove or keep as you see fit */
}

main {
  width: 100vw;
  height: 100vh;
}

#player {
  color: var(--color-fg);
  background-color: var(--color-player-background);
  font-size: 2em;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#album-art-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 1em 0em 1em 1em;
}

#player img {
  max-width: 100%;
  max-height: 60vmin;
  border-radius: 10px;
  align-self: center;
}

#info {
  width: 80%;
  padding: 1em;
}

a, a:visited, a:active, a:hover {
  color: var(--color-fg);
  text-decoration: none;
}

#player-song-link,
#player-artist-link {
  width: fit-content;
  display: block;
}

#player-status {
  margin-bottom: .95em;
  margin-top: .5em;
}

#player-time {
  position: relative;
  float: right;
  top: -2.2em;
  font-weight: bold;
}

#player-progress-back {
  border: 2px solid var(--color-player-progress);
  height: 1em;
  border-radius: 15px;
}

#player-progress {
  background-color: var(--color-player-progress);
  border: .1em solid transparent;
  height: .83em;
  border-radius: 12px;
  transition: .8s;
}

#player-song {
  font-style: italic;
}

.background {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -10;
  background-color: var(--color-bg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(.6em);
  position: fixed;
  transition: .5s ease-in;
  transform: scale3d(1.03, 1.03, 1.03);
}

/* Maybe, possibly not the best possible way to implement the album cover scaling
but, I mean... it works! */

@media only screen and (max-width: 860px) {
  #album-art-wrapper {
    width: 45%;
  }
}

@media only screen and (max-width: 825px) {
  #album-art-wrapper {
    width: 40%;
  }
}

@media only screen and (max-width: 800px) {
  #album-art-wrapper {
    width: 30%;
  }
}

@media only screen and (max-width: 740px) {
  #album-art-wrapper {
    width: 20%;
  }
}

@media only screen and (max-width: 680px) {
  #album-art-wrapper {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  #player {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 360px) {
  #player-progress,
  #player-progress-back {
    display: none;
    border: none;
  }
  #player-time {
    float: left;
    top: 0;
  }
}